@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: hsla(222, 63%, 4%, 1);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: hsla(222, 63%, 4%, 1);
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.fonarto {
  font-family: Fonarto;
}

.gradient-background {
  background-color: hsla(222, 63%, 4%, 1);
  background-image: radial-gradient(
      at 100% 36%,
      hsla(2, 57%, 31%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(
      at 45% 64%,
      hsla(9, 67%, 13%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(
      at 96% 100%,
      hsla(2, 76%, 29%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(
      at 0% 33%,
      hsla(2, 57%, 31%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(
      at 50% 0%,
      hsla(16, 78%, 33%, 1) 0px,
      transparent 50%
    );
}
